<%= render "shared/second-header"%>
 <% breadcrumb :item_purchases %>
<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入が完了しました
    </h1>
     <div class='form-group'>
      <%=link_to 'トップへもどる', root_path, class:"back-btn" %>
    </div>
    
  </div>
</div>

<%= render "shared/second-footer"%>